# build/dev artifacts
build/
node_modules/

# Yarn, not using zero-installs
# ref: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Yarn Integrity file
.yarn-integrity